@model WebBus.Models.LichTrinh

@{
    ViewBag.Title = "Xóa Lịch Trình";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa Lịch Trình</h2>
<h3>Bạn có chắc muốn xóa?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>Tuyến Đường</dt>
        <dd>@Model.tuyenDuongId</dd>
        <dt>Thời Gian</dt>
        <dd>@Model.thoiGian</dd>
        <dt>Ngày</dt>
        <dd>@Model.ngay</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.Id)
        <button type="submit" class="btn btn-danger">Xóa</button>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Hủy</a>
    }
</div>